<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/css/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/css/themes/tree.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.easyui.min.js}"></script>
    <script th:src="@{/js/easyui-lang-zh_CN.js}"></script>
</head>
<body>
<div id="tb">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="oepnAddDialog()">添加</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="openModifyDialog()">修改</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="deleteUser()">删除</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-roleManage'" onclick="openAuthDialog()">角色授权</a>
    <form>
        角色名称：<input name="roleName" id="uname">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchUser()">搜索</a>
    </form>
</div>

</div>
<table id="dg" class="easyui-datagrid"
       data-options="title:'用户管理',url:'/role/dataList',fitColumns:true,pagination:true,rownumbers:true,pageNumber:1,pageSize:5,pageList:[5,10,15],toolbar:'#tb'">
    <thead>
    <tr>
        <th data-options="checkbox:true"></th>
        <th data-options="field:'roleId',width:5">编号</th>
        <th data-options="field:'roleName',width:15">角色名称</th>
        <th data-options="field:'roleDescription',width:100,align:'left'">备注</th>
    </tr>
    </thead>
</table>


<div id="roledlg" class="easyui-dialog" data-options="width:300,height:500,title:'角色授权',modal:true,closed:true,buttons:'#roledlg_buts'">
    <ul id="tree"></ul>
</div>
<script>
    function openAuthDialog() {
        var rows = $("#dg").datagrid("getSelections");
        if (rows.length != 1) {
            $.messager.alert("系统提示", "请选择一条数据进行授权");
            return;
        }
        $("#roledlg").dialog("open");
        var roleId = rows[0].roleId;
        var eventNode; //undefined
        //加载权限树
        $("#tree").tree({
            url: '/auth/loadAuthsTree/' + roleId,
            lines: true,
            checkbox: true,
            animate: true,
            cascadeCheck: false,
            // onLoadSuccess: function () {
            //     $("#tree").tree("expandAll");
            // },
            onCheck: function (node, checked) {//node触发事件的当前节点对象，checked是否选中
                if (!eventNode) {
                    eventNode = node;
                    treeUp = true;
                }
                var tree = $("#tree");
                if (treeUp) {//执行向上父节点的操作

                    var parentNode = tree.tree("getParent", node.target);//获取当前节点的父节点

                    if (parentNode) {//如果有父节点
                        if (checked && parentNode.checked == false) {//如果是选中
                            //console.log("父节点："+parentNode);
                            tree.tree("check", parentNode.target);//级联选中父节点
                        } else {//如果是反选
                            //获取触发事件的当前节点 的父节点下的所有子节点
                            var childNode = tree.tree("getChildren", parentNode.target);
                            var isCheck = false;
                            for (var i = 0; i < childNode.length; i++) {
                                if (childNode[i].checked) {
                                    isCheck = true;
                                    break;
                                }
                            }
                            if (!isCheck) {//退出循环后，如果没有任何字节点选中，则取消父节点的选中操作
                                tree.tree("uncheck", parentNode.target);
                            }
                        }
                    }
                    treeUp = false;
                    if (!treeUp && eventNode) {
                        //获取当前触发事件节点对象的子节点
                        var childNode = tree.tree("getChildren", eventNode.target);
                        //console.log(childNode);
                        //标记本次点击事件结束
                        eventNode = null;//null在布尔环境中false   0  ""
                        if (checked) {
                            for (var i = 0; i < childNode.length; i++) {
                                tree.tree("check", childNode[i].target);
                            }
                        } else {
                            for (var i = 0; i < childNode.length; i++) {
                                tree.tree("uncheck", childNode[i].target);
                            }
                        }
                    }
                }
            }
        })
    }
</script>
</body>
</html>